body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

header{
    display: float;
    background-color: rgb(31, 15, 15);
    padding: 20px;
    
}
header img{
  
    margin-top: 0;
    float: left;
    width: 25%;
   
}
ul, ol{
    list-style: none;
    

}
nav{


    font-family: 'Noto Serif TC', serif;


}
nav li{
    display: inline-block;
    margin-right: 15px;
    padding: 3px;

}
nav li a{
    text-decoration: none;
    color: white;
    padding: 20px
}
.container{
  
    max-width: 100%;
  margin-left: 150px;
  margin-top: 10px;
}
section{
    
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 150px;
    background-color: rgb(14, 106, 182);
}


#left-section{
    float: left;
    
}
#main-section{
    float: right;


}
#right-section{
    float: right;
    padding-left: 87px;
    width: 30%;
}
form{
    padding-left: 60px;
    padding-bottom: 30px;
    text-align: center;
    background-color: gray;
    margin: 20px 350px 20px 350px;
}
footer{
    background: rgb(31, 15, 15);
   
}
footer p{
    text-align: center;
     color:white;
     padding: 2%;
}